$font__main : 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
$font__titre : 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

$police__h1 : 'Montserrat', 'Poppins', 'Roboto', 'Helvetica Neue';
$police__h2 : 'Montserrat', 'Poppins', 'Roboto', 'Helvetica Neue';
$police__h3 : 'Montserrat', 'Poppins', 'Roboto', 'Helvetica Neue';
$police__h4 : 'Montserrat', 'Poppins', 'Roboto', 'Helvetica Neue';
$police__h5 : 'Montserrat', 'Poppins', 'Roboto', 'Helvetica Neue';
$police__h6 : 'Montserrat', 'Poppins', 'Roboto', 'Helvetica Neue';

$police__p : 'Helvetica', 'Gill Sans MT', 'Calibri';

