//Code boilerplate du menu burger
#menuBurger {
    position : absolute;
    transition : transform .3s;
    transform : rotate(0);
}

#checkbox_burger:checked ~ #menuBurger {
    transform : rotate(90deg);
}
#checkbox_burger{
    display : none;
}
.menu_principal_conteneur {
    display : none;
}
#checkbox_burger:checked ~ .menu_principal_conteneur{
    display : block;
}

.menu{
    list-style-type: none;
    margin : 0;
    padding :0;
}
.item__menu{
    margin:0;
    padding : 0;
    li{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }
    a{
        display : block;
        text-decoration: none;
        padding : 4px;
        background-color: $color__background-link;
        transition: all 0.2s ease-in-out;
        &:hover {
            background-color: $color__background-link-hover;
            
        }
        svg{
            color: black;
        }
    }
}

@media screen and (min-width : $largeur__media--tablette){
    #menuBurger {
        display : none;
    }
    .menu_principal_conteneur {
        display : block;
    }

}








