.recherche{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 200px;
    margin: auto;

    &-input{
        background-color: hsl(138, 19%, 86%);
        border: 3px solid black;
        border-radius: 10px;
        width: 200px;
    }

    &-button{
        position: absolute;
        border: none;
        display: flex;
        top: 0;
        right: 0;
        margin-right: 5px;
    }
}