h1, h2{
  font-family: $font__main;
  font-size: clamp(2rem, 3vw, 5rem);
}
h3, h4{
  font-family: $police__h3;
  font-size: clamp(1.5rem, 2.2vw, 3rem);
}
h5, h6{
  font-family: $police__h5;
  font-size: clamp(1rem, 2vw, 2.2rem);
}

p{
  font-family: $police__p;
  font-size: clamp(1rem, 3vw, 2rem);
}