/* ---------------- BACKGROUND */
$color__background-body : hsl(0, 0%, 97%);
$color__background-main : hsl(0, 0%, 97%);
$color__background-cours : hsl(131, 100%, 16%);
$color__background-header : hsl(132, 49%, 39%);
$color__background-barre : hsl(131, 100%, 26%);
$color__background-footer : hsl(131, 100%, 47%);
$color__background-link : hsl(161, 100%, 26%);
$color__background-link-hover : hsl(131, 100%, 89%);

/* ---------------- LIENS */
$color__link : hsl(129, 100%, 96%);
$color__link-hover : hsl(114, 100%, 96%);
$color__link-visited : hsl(112, 100%, 25%);


/* ---------------- LIENS FOOTER */
$color__link__footer : hsl(131, 100%, 96%);
$color__link__footer-hover : hsl(110, 90%, 25%);
$color__link__footer-visited : hsl(131, 31%, 34%);
$color__link__footer-border: hsl(137, 100%, 7%);


/* ---------------- LIENS HEADER */
$color__link__header : hsl(131, 89%, 34%);
$color__link__header-hover : hsl(134, 27%, 32%);
$color__link__header-visited : hsl(0, 0%, 100%);


/* ---------------- FONT */
$color__font-header : hsl(0, 0%, 99%);
$color__font-main : hsl(133, 11%, 67%);
$color__font-barre : hsl(132, 45%, 85%);
$color__font-footer : hsl(130, 48%, 49%);